<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- dao层相关bean配置 -->
	<!--<bean id="userDAO" class="com.demo.dao.impl.UserDAOImpl" />-->

</beans>