<component name="ArtifactManager">
  <artifact type="war" name="spring-springmvc-hibernate:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-springmvc-hibernate</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-springmvc-hibernate-1.0.0.war">
      <element id="artifact" artifact-name="spring-springmvc-hibernate:war exploded" />
    </root>
  </artifact>
</component>